// colour
$primaryBodyColour: #A62AF3;
$primaryComponentColour: #CB77FF;
$secondaryComponentColour: #FFFFFF;
$primaryButtonColour: #00FF94;
$secondaryButtonColour: #F0F070;
$primaryTextColour: #FFFFFF;
$placeHolderTextColour: #78787880;
$displayTextColour: #787878;
$correctTextColour: #00FF94;
$incorrectTextColour: #F0F070;
$correctWordColour: #CB77FF;
$incorrectWordColor: #EFEFEF;
$gameRulesTextColour: #3030DA;

//Typography
$InterFont: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$InterFont400: 400;
$InterFont600: 600;